<template>
  <div class="container">
    <v-dialog
      class="editor-dialog"
      v-model="dialog"
      width="500"
    >
         <prism-editor
            class="editor"
            v-model="stringedArray"
            :highlight="highlighter"
            :line-numbers="true"
         ></prism-editor>
         <v-btn
          elevation="2"
          @click="saveText"
        >Save</v-btn>
    </v-dialog>
    <div>
      <v-container fluid>
        <v-row align="center">
          <v-file-input
            accept="image/*"
            label="File input"
            @change="extractTextFromImage"
          ></v-file-input>
        </v-row>
      </v-container>
    </div>

    <v-data-table
      :headers="headers"
      :items="products"
      class="elevation-1"
    >
      <template
        v-for="member in memberHeaders"
        v-slot:[`header.${member.name}`]
      >
        <div
          @mouseover="member.hover = true"
          @mouseleave="member.hover = false"
          v-bind:style="{display: 'inline-flex'}"
        >
          {{member.value}}
          <v-icon
            v-on:click="removeMember(member)"
            small
            class="mr-2"
            v-bind:style="{display: member.hover ? 'inline' : 'none'}"
          >
            mdi-close
          </v-icon>
        </div>
      </template>

      <template v-slot:item.actions="{ item }">
        <div
          v-bind:style="{display: 'inline-flex'}"
        >
          <v-simple-checkbox
              @input="toggleRowCheckboxes(item)"
              v-model="item.allActive"
          ></v-simple-checkbox>

          <v-icon
              small
              class="mr-2"
          >mdi-pencil
          </v-icon>
          <v-icon
            v-on:click="deleteItem(item)"
            small
            class="mr-2"
          >mdi-delete
          </v-icon>
        </div>
      </template>

      <template v-for="member in members" v-slot:[`item.${member}`]="{ item }">
        <v-simple-checkbox
            :color="colors[member]"
            @input="toggleCheckbox"
            v-model="item[member]"
            v-bind:key="member"
        ></v-simple-checkbox>
      </template>
      <template
        slot="body.prepend"
        v-if="products.length"
        class="elevation-1"
      >
        <tr style="border-bottom:"
        >
          <th> Total</th>
          <th> {{ totalPrice }}</th>
          <th> - </th>
          <th
            v-for="(member, key) in receipts"
            v-bind:style="{color: colors[key]}"
            v-bind:key="key"
          >
            {{ member.total.toFixed(2) }}
          </th>
        </tr>
      </template>

      <template v-slot:item.price="props">
        <v-edit-dialog
            :return-value-sync="props.item.price"
            @save="save"
            @cancel="cancel"
            @open="open"
        >
          {{ props.item.price }}
          <template v-slot:input>
            <v-text-field
                type="number"
                v-model="props.item.price"
                label="Edit"
                @input="$emit('update:price', Number($event))"
            ></v-text-field>
          </template>
        </v-edit-dialog>
      </template>

      <template v-slot:item.productName="props">
        <v-edit-dialog
            :return-value-sync="props.item.productName"
            @save="save"
            @cancel="cancel"
            @open="open"
        >
          {{ props.item.productName }}
          <template v-slot:input>
            <v-text-field
                type="text"
                v-model="props.item.productName"
                label="Edit"
                @input="$emit('update:productName', String($event))"
            ></v-text-field>
          </template>
        </v-edit-dialog>
      </template>

      <template v-slot:item.quantity="props">
        <v-edit-dialog
            :return-value-sync="props.item.quantity"
            @save="save"
            @cancel="cancel"
            @open="open"
        >
          {{ props.item.quantity }}
          <template v-slot:input>
            <v-text-field
                type="number"
                v-model="props.item.quantity"
                label="Edit"
                @input="$emit('update:quantity', Number($event))"
            ></v-text-field>
          </template>
        </v-edit-dialog>
      </template>
    </v-data-table>
  </div>
  <!--       </v-tab-item>
      </v-tabs-items>
  </v-card> -->
</template>

<script>
import axios from 'axios';
import {toBase64} from '../helpers/imageManipulation';
import {API_KEYS} from '../helpers/apiKeys';
import {SHOPS} from '../helpers/shops';

import { PrismEditor } from 'vue-prism-editor';
import 'vue-prism-editor/dist/prismeditor.min.css'; // import the styles somewhere

// import highlighting library (you can use any library you want just return html string)
import { highlight, languages } from 'prismjs/components/prism-core';
import 'prismjs/components/prism-clike';
import 'prismjs/components/prism-javascript';
import 'prismjs/components/prism-json';
import 'prismjs/themes/prism-tomorrow.css'; // import syntax highlighting styles


export default {
  name: 'HelloWorld',
  components: {
    PrismEditor
  },
  data () {
    return {
      stringedArray: '',
      dialog: false,
      shoppingList: '',
      formattedArray: [],
      headers: [
        {text: 'Produs', value: 'productName', align: 'start'},
        {text: 'Pret', value: 'price'},
        {text: 'Cantitate', value: 'quantity'},
        {text: 'Paul', value: 'Paul', type: 'member'},
        {text: 'Corina', value: 'Corina', type: 'member'},
        {text: 'Gabi', value: 'Gabi', type: 'member'},
        {text: 'Actions', value: 'actions'}
        // 'Produs', 'Pret', 'Cantitate', 'Paul', 'Corina', 'Gabi'
      ],
      memberHeaders: [{
        name: 'Paul',
        value: 'Paul',
        hover: false
      }, {
        name: 'Corina',
        value: 'Corina',
        hover: false
      }, {
        name: 'Gabi',
        value: 'Gabi',
        hover: false
      }],
      members: ['Paul', 'Corina', 'Gabi'],
      colors: {
        'Paul': '#008000',
        'Corina': '#FF69B4',
        'Gabi': '#6495ED'
      },
      editable: ['Paul', 'Corina', 'Gabi', 'quantity', 'name', 'price'],
      perPage: 5,
      products: [],
      receipts: {},
      options: {
        editableColumns: this.editable
      },
      image: ''
    }
  },
  watch: {
    products (newVal, oldVal) {
    }
  },
  computed: {
    totalPrice: function (identifier) {
      return this.products.length &&
        this.products.reduce((a, b) => a + (Number(b.price) || 0), 0).toFixed(2)
    }
  },
  methods: {
    saveText (text) {
      const formattedString = this.stringedArray.split('\n').filter((item) => item.length);
      localStorage.setItem(this.image.name, JSON.stringify(formattedString));
    },
    arrayToString (array) {
      console.log(array)
      let string = '';

      array.map((item) => {
        string += `${item}\n`;
      });

      return string;
    },
    highlighter(code) {
      return highlight(code, languages.json); //returns html
    },
    deleteItem: function(deletedItem) {
      this.products.splice(this.products.findIndex((item) => item.id === deletedItem.id), 1);
    },
    toggleCheckbox: function () {
      this.calculateReceipts()
      this.products = JSON.parse(JSON.stringify(this.products))
    },
    toggleRowCheckboxes: function (item) {
      this.members.forEach((member) => {
        item[member] = item.allActive
      })
      this.calculateReceipts()
    },
    transformText: function (data) {
      this.products = data.map((item, index) => {
        const formattedItem = item.split(' ')
        const ocrWrongParsedNumber = ['i', 'I']
        const lastIndex = formattedItem.length - 1;

        if (ocrWrongParsedNumber.some((item) => formattedItem[lastIndex].includes(item) || formattedItem[lastIndex - 3].includes(item))) {
          formattedItem[lastIndex].replaceAll(item, 1);
          formattedItem[lastIndex - 3].replaceAll(item, 1);
        }

        let quantity = formattedItem[lastIndex - 3] && formattedItem[lastIndex - 3].length ? Number(formattedItem[lastIndex - 3].replace(',', '.')).toFixed(2) : 0;
        let type = formattedItem[lastIndex - 2];
        let price = (
          (
            formattedItem[lastIndex] && formattedItem[lastIndex].length ?
            Number(formattedItem[lastIndex].replace(',', '.')) : 0
          ) * quantity
        ).toFixed(2);

        return {
          id: index,
          quantity,
          type,
          price,
          productName: `${formattedItem.slice(0, lastIndex - 3).toString().replaceAll(',', ' ')}`
        }
      });

      this.stringedArray = this.arrayToString(data);
      this.dialog = true;
    },
    calculateReceipts: function () {
      this.receipts = {}

      this.members.forEach((member) => {
        this.receipts[member] = {
          products: [],
          total: 0
        }
      });

      this.products.forEach((product) => {
        let splitRatio = 0
        let productPayersList = []

        for (let key in product) {
          if (this.members.includes(key) && product[key] === true) {
            const {price, quantity, productName} = product
            const productOnly = {price, quantity, productName}

            this.receipts[key].products.push(productOnly)
            productPayersList.push(key)
            splitRatio++
          }
        }

        const dividedProductPrice = Number((product.price / splitRatio).toFixed(2))

        productPayersList.forEach((member) => {
          this.receipts[member].total += dividedProductPrice
        })
      })
    },
    extractTextFromImage: async function (image) {
      this.image = image;
      const encodedImage = await toBase64(image)

      const requestOptions = {
        url: `https://vision.googleapis.com/v1/images:annotate?key=${API_KEYS.PROD}`,
        method: 'POST',
        data: {
          requests: [{
            image: {
              content: encodedImage.replace(/^data:image\/(png|jpg|jpeg);base64,/, '')
            },
            features: [{
              type: 'TEXT_DETECTION'
            }]
          }]
        }
      }

      if (localStorage[image.name]) {
        let storedImageText = JSON.parse(localStorage.getItem(image.name));
        this.formattedArray = storedImageText;
        this.transformText(storedImageText);
      } else {
        axios(requestOptions).then((response) => {
          const arrayText = response.data.responses[0].fullTextAnnotation.text.split('\n')
          const filteredArrayText = this.filterStrings(this.receiptType, arrayText);

          this.parseText(filteredArrayText);
        });
      }
    },
    parseText: function (text) {
      const formattedArray = []
      console.log(text)
      let startingJoinIndex = 0

      if (text.includes('BINE ATI VENIT!')) {
        startingJoinIndex = text.indexOf('BINE ATI VENIT!') + 1;
      } else {
        for (let i = 0; i < text.length; i++) {
          if (text[i].includes(' X ') || text[i].includes(' x ')) {
            startingJoinIndex = i;
            break;
          }
        }
      }

      for (let i = startingJoinIndex; i < text.length; i = i + 2) {
        if (!text[i+1]) {
          break;
        } else if (text[i].match(/([[:alpha:]]+ {1})+\d+ {1}(BUC|KG){1} {1}(x|X){1} {1}\d+(,|\.){1}\d+$/)) {
          formattedArray.push(text[i]);
          i--;
        } else if (text[i].includes(' X ') || text[i].includes(' x ')) {
          formattedArray.push(`${text[i + 1]} ${text[i]}`);
        } else {
          formattedArray.push(`${text[i]} ${text[i + 1]}`);
        }
      }

      localStorage.setItem(this.image.name, JSON.stringify(formattedArray));
      this.transformText(formattedArray)
    },
    save () {
      this.snack = true
      this.snackColor = 'success'
      this.snackText = 'Data saved'
    },
    cancel () {
      this.snack = true
      this.snackColor = 'error'
      this.snackText = 'Canceled'
    },
    open () {
      this.snack = true
      this.snackColor = 'info'
      this.snackText = 'Dialog opened'
    },
    close () {
      console.log('Dialog closed')
    },
    filterStrings (shop, array) {
      while (array.includes('STORNARE')) {
        array.splice(array.indexOf('STORNARE'), 2)
      }

      return array.filter((item) => !item.match(/\d+(,|\.){1}\d+ {1}(\w){1}$/) && !item.match(/\d+\/{1}\d+/) && !item.match(/^\d+(,|\.){1}\d+$/));
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.contaier {
  display: flex;
  flex-direction: row;
}

.form-input {
  display: inline-flex;
  width: 100%;
}

.form-input div {
  margin: 10px;
}

.editor-dialog {
  width: 800px;
  background-color: white;
}

.editor {
  overflow: hidden;
  max-height: 1000px;
  background-color: white;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
